<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Add new Author to Book</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Select the Author to add to the Book </h1>
  <h3>Selected Book is <th:block th:text="${Book.getTitle()}"></th:block></h3>
</header>
<section>
  <h2>Select author:</h2>
  <!-- Make changes to this code to dynamically display radio buttons for each author as in the example -->
  <form  id="AuthorForm" th:method="POST" th:action="@{/bookdetails}">
    <ul>
      <input type="hidden" name="BookSelect" th:value="${Book.getIsbn()}">
      <li th:each="Author : ${Authors}">
        <input type="radio" name="AuthorSelect" th:value="${Author.getId()}">
        <th:block th:text="${Author.getName()}"></th:block>
        <th:block th:text="${Author.getSurname()}"></th:block>,
        <th:block th:text="${Author.getBiography()}"></th:block> <br/>
      </li>
    </ul>
  </form>

  <br/>
  <input form="AuthorForm" type='submit' value='Add author'>
</section>
<aside>
  <table>
    <tr>
      <!-- change to show selected book isbn -->
      <td><b>Book Isbn</b></td>
      <td><th:block th:text="${Book.getIsbn()}"></th:block></td>
    </tr>
  </table>
</aside>
</body>
</html>