<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
   <h1>Book title: <th:block th:text="${Book.getTitle()}"></th:block></h1>
</header>
<section>
    <h2>Genre:</h2>
    <th:block th:text="${Book.getGenre()}"></th:block>
    <h2>Year:</h2>
    <th:block th:text="${Book.getYear()}"></th:block>
    <h2>Authors:</h2>
    <ul>
        <li th:each="Author : ${Book.getAuthors()}">
            <th:block th:text="${Author.getName()}"></th:block>
            <th:block th:text="${Author.getSurname()}"></th:block>
        </li>
    </ul>
</section>
</body>
</html>