<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Are you sure you want to delete <th:block th:text="${Author.getName()}"></th:block> <th:block th:value="${Author.getSurname()}"></th:block>?</p>

<form id="YesDelete" th:method="POST" th:action="@{/author/delete/{id} (id=${Author.getId()})}">
    <input form="YesDelete" type="submit" value="yes">
</form>

<form id="NoDelete" th:method="GET" th:action="@{/books}">
    <input form="NoDelete" type="submit" value="no">
</form>
</body>
</html>