<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add a book:</h2>
<form id="EditAuthorForm" th:method="POST" th:action="@{/author/edit/{id} (id=${Author.getId()})}">
    //String name, String surname, String biography, LocalDate dateOfBirth
    <ul>
        <li>
            <label for="Name">Author Name:</label>
            <input type="text" required id="Name" th:value="${Author.getName()}" name="Name"/>
        </li>
        <li>
            <label for="Surname">Author Surname:</label>
            <input type="text" required id="Surname" th:value="${Author.getSurname()}" name="Surname"/>
        </li>
        <li>
            <label for="Biography">Author Biography:</label>
            <input type="text" required id="Biography" th:value="${Author.getBiography()}" name="Biography"/>
        </li>
        <li>
            <label for="Date">Author Date of Birth:</label>
            <input type="date" required id="Date" th:value="${Author.getDateOfBirth()}" name="Date"/>
        </li>
    </ul>
    <input form="EditAuthorForm" type='submit' value='Submit'>
</form>
</body>
</html>